.header{
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 400%;
  color: #a6a6ed;
}
.navbar-nav{
  text-align: center;
  background-color: none;
}
.menuItem{
  text-align: center;
  display: inline-block;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 125%;
}
.menuOption, a:link{
  display: block;
  width: 100px;
  padding: 8px 16px;
  text-decoration: none;
}
.order {
  text-decoration: none;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
.checkbox {
  float: right;
  margin-right: 5px;
}